@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);
body,
html {
  margin: 0;
  font-family: muli;
  height: 100%;
  padding: 0;
  overflow-x:hidden;
}

.store-box {
  margin: 20px auto;
  background: #fff;
  width: 85%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 0.8em;
}

.item-container {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.item-container h1,
.item-container h2,
.item-container h3 {
  margin: 5px auto 5px auto;
  text-align: center;
}

.item-container h1 {
  text-transform: uppercase;
}

.item-container img {
  display: block;
  margin: 0 auto;
  width: 85%;
}

.item-container .item-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.item-container .price {
  color: red;
}

.item-container .add-button {
  text-transform: uppercase;
  color: red;
  border: 1px solid red;
  border-radius: 10px;
}

.store-line-box {
  margin: 20px auto 0 auto;
  padding-top: 50px;
  background: #fff;
  width: 65%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.8em;
}

.item-line {
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}

.item-line img {
  height: 50px;
}

.item-line h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 10px;
}

.item-line h3 {
  font-size: 1em;
}

.item-line .price {
  color: red;
}

.item-line .add-button {
  text-transform: uppercase;
  color: red;
  border: 1px solid red;
  border-radius: 10px;
}

.switch-icon {
  position:absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button:hover {
  background:#555;
  -webkit-transition:all .3s ease;
          transition:all .3s ease;
}
